$main-text-color: #525369;
$main-text-color-50: #52536980;
$white-text-color: #ffffff;

$button-background-color: #8184af;
$separator-color: #d9dae7;

$border-color: #8184af;
$border-color-10: #8184af1a;
$border-color-15: #8184af26;
$border-color-20: #8184af33;
$border-color-25: #8184af40;
$border-color-30: #8184af4d;
